/* Style Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Smooth all scrolling */
html {
    scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

span {
    user-select: none;
    cursor: pointer;
}

img {
    height: 32em;
    width: 32em;
    object-fit: cover;
}

header {
    display: flex;
    justify-content: center;
}

.heading-container {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.image-slider-heading {
    font-family: 'Righteous', cursive;
}

.gallery-container {
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: 1fr;
    height: 100%;
    grid-template-areas: 'left mid right';
}
.slider-container {
    overflow-x: scroll;
    scrollbar-width: none;
}
.slider-container::-webkit-scrollbar {
    display: none;
}

span .left-arrow {
    grid-area: left;
}
span .right-arrow {
    grid-area: right;
}