/* Style Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Smooth all scrolling */
html {
    scroll-behavior: smooth;
    background-color: black;
}

.material-symbols-outlined {
    color: white;
    font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

span {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

img {
    height: 38em;
    width: 38em;
    object-fit: cover;
    border: 5px solid white;
    content-visibility: auto;
    image-rendering: optimizeSpeed;
}

header {
    display: flex;
    justify-content: center;
    height: 7em;
}

.heading-container {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.image-slider-heading {
    color: white;
    font-family: 'Righteous', cursive;
    font-weight: 400;
}
.image-slider-info {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 11pt;
}

.gallery-container {
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: 1fr;
    height: 80svh;
    grid-template-areas: 'left mid right';
}
.slider-container {
    overflow: hidden;
    scrollbar-width: none;

}
.slider-container::-webkit-scrollbar {
    display: none;
}

.left-arrow-container {
    grid-area: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-arrow-container {
    grid-area: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    height: calc(100svh - 7em);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}