/* Style Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Smooth all scrolling */
html {
    scroll-behavior: smooth;
    background-color: black;
}

.material-symbols-outlined {
    color: white;
    font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

span {
    user-select: none;
    cursor: pointer;
}

img {
    height: 32em;
    width: 32em;
    object-fit: cover;
    margin-left: 10rem;
    margin-right: 10rem;
    /* display: inline-block; */
    border: 5px solid white;
}

header {
    display: flex;
    justify-content: center;
}

.heading-container {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.image-slider-heading {
    color: white;
    font-family: 'Righteous', cursive;
    font-weight: 400;
}
.image-slider-info {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 11pt;
}

.gallery-container {
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: 1fr;
    height: 80svh;
    grid-template-areas: 'left mid right';
}
.slider-container {
    overflow: scroll;
    overflow-x: scroll;
    scrollbar-width: none;
    display: flex;
    justify-content: space-around;
}
.slider-container::-webkit-scrollbar {
    display: none;
}

span .left-arrow {
    grid-area: left;
}
span .right-arrow {
    grid-area: right;
}